/* Add your custom css styling */

body {
	background-color: #D7EDF7; /* alternative is #2780E3*/
}

.searchbox {
	padding-top: 15%;
	padding-bottom: 20%;
}

.search-form {
  display: inline;
  width: 80%;
  height: 20%;
  /*height: calc(2.15625rem + 2px);*/
  padding: 0.375rem 0.75rem;
  font-size: 1.5rem;
  font-weight: 400;
  line-height: 1.5;
  color: #495057;
  background-color: #fff;
  background-clip: padding-box;
  border: 1px solid #ced4da;
  border-radius: 0;
  -webkit-transition: border-color 0.15s ease-in-out, -webkit-box-shadow 0.15s ease-in-out;
  transition: border-color 0.15s ease-in-out, -webkit-box-shadow 0.15s ease-in-out;
  transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
  transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out, -webkit-box-shadow 0.15s ease-in-out;
}


.over-button-secondary {
  color: #fff;
  background-color: #2780E3;
  border-color: #2780E3;
}

.over-button-secondary:hover {
  color: #fff;
  background-color: #2780E3;
  border-color: #2780E3;
}

.over-button-secondary:focus, .over-button-secondary.focus {
  -webkit-box-shadow: 0 0 0 0.2rem rgba(71, 147, 231, 0.5);
          box-shadow: 0 0 0 0.2rem rgba(71, 147, 231, 0.5);
}

.over-button-secondary.disabled, .over-button-secondary:disabled {
  color: #fff;
  background-color: #2780E3;
  border-color: #2780E3;
}

.over-button-secondary:not(:disabled):not(.disabled):active, .over-button-secondary:not(:disabled):not(.disabled).active,
.show > .over-button-secondary.dropdown-toggle {
  color: #fff;
  background-color: #2780E3;
  border-color: #2780E3;
}

.over-button-secondary:not(:disabled):not(.disabled):active:focus, .over-button-secondary:not(:disabled):not(.disabled).active:focus,
.show > .over-button-secondary.dropdown-toggle:focus {
  -webkit-box-shadow: 0 0 0 0.2rem rgba(71, 147, 231, 0.5);
          box-shadow: 0 0 0 0.2rem rgba(71, 147, 231, 0.5);
}

.over-button {
  display: inline;
  width: 19%;
  height: 20%;
  padding: 0.375rem 0.75rem;
  font-size: 1.5rem;
  font-weight: 400;
  line-height: 1.5;
  color: #2780E3;
  background-color: transparent;
  background-clip: transparent;
  border: 1px solid #ced4da;
  border-radius: 0;
  -webkit-transition: border-color 0.15s ease-in-out, -webkit-box-shadow 0.15s ease-in-out;
  transition: border-color 0.15s ease-in-out, -webkit-box-shadow 0.15s ease-in-out;
  transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
  transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out, -webkit-box-shadow 0.15s ease-in-out;
  /*font-weight: 400;
  color: #373a3c;
  text-align: center;
  vertical-align: middle;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
  background-color: transparent;
  border: 1px solid transparent;
  padding: 0.375rem 0.75rem;
  font-size: 0.9375rem;
  line-height: 1.5;
  border-radius: 0;
  -webkit-transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out, border-color 0.15s ease-in-out, -webkit-box-shadow 0.15s ease-in-out;
  transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out, border-color 0.15s ease-in-out, -webkit-box-shadow 0.15s ease-in-out;
  transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out, border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
  transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out, border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out, -webkit-box-shadow 0.15s ease-in-out;*/
}
