.result-section{
    display: grid;
    grid-template-rows: auto auto;
    grid-gap: 1.5rem;
    margin: 2.5rem 1rem;
}

// Larger than mobile
// @media (min-width: 500px){
//     .result-section{
//         grid-template-rows: 1fr;
//         grid-template-columns: 50% 50%;
//     }
// }

@media (min-width: 850px){
    .result-section{
        margin: 2.5rem 8rem;
        grid-template-columns: 25% 75%;
    }
}