.ui.segment.result-box{
    display: block;
    margin: 2rem 0;
    height: auto;
    overflow: hidden;
}

.result-list__toolsbar{
    display: flex;
    justify-content: space-between;
    align-content: center;
}

.expand-btn{
    position: absolute;
    cursor: pointer;
    height: 50px;
    width: 100%;
    text-align: center;
    display: flex;
    align-content: flex-end;
    justify-content: center;
    background: linear-gradient(rgba(255,255,255,0.95), rgba(255,255,255,0.95));
    bottom: 0;
}

// Larger than mobile
@media (min-width: 500px){

}

@media (min-width: 700px){

}