.result-section{
    .container{
        display: grid;
        grid-template-rows: auto auto;
    }
    margin: 2.5rem 0;
}

// Larger than mobile
@media (min-width: 500px){
    .result-section{
        .container{
            grid-template-rows: 1fr;
            grid-template-columns: 50% 50%;
        }
    }
}

@media (min-width: 700px){
    .result-section{
        .container{
            grid-template-columns: 30% 70%;
        }
    }
}