.search-bar{
    background-color: rgb(53, 189, 178);
    -webkit-box-shadow: 0 8px 6px -6px black;
    -moz-box-shadow: 0 8px 6px -6px black;
    box-shadow: 0 8px 6px -6px black;
    >.container{
        display: grid;
        grid-template-columns: 40% 60%;
        grid-gap: 8rem;
        align-items: center;
        color: white;
        >.logo-section{
            display: flex;
            align-items: center;
            padding: 1rem 0;
            >.logo{
                width: 5rem;
                height: 5rem;
                margin: 0 1.5rem;
            }
            >.title{
                font-size: 2rem;
                padding-bottom: 1rem;
            }
        }
        
        >.search-bar{
            padding-top: 1rem;
        }
    }
  }
  