*{
    margin: 0;
    padding: 0;
    box-sizing: 0;
    font-family: 'Roboto', sans-serif;
}

.text-center{
    text-align: center;
}

.ui.horizontal.label{
    margin: 0.75rem;
    cursor: pointer;
}

.highlight{
    background-color: #FADA5E;
    color: #000000;
}